<div class="page">
  <div class="header">
    <div class="header-item">
      <%= link_to cocktails_path, class: "MisterCocktail-link" do %>
      <h1>RailsMisterCocktail</h1>
      <% end %>
    </div>
    <div class="header-item"><%= link_to "New cocktail", new_cocktail_path %></div>
  </div>
  <div class="content">
    <ul id="cocktails-list">
      <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail.id), class: "cocktail-box" do%>
      <li class="cocktail-box">
        <h2 class="cocktail-name"><%= cocktail.name %></h2>
        <ul id="doses-list">
          <% cocktail.doses.each do |dose| %>
          <li class="cocktail-dose">
            <%= dose.description %> <%= Ingredient.find(dose.ingredient_id).name %>
          </li>
          <% end %>
        </ul>
      </li>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>
